body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#a {
  background-color: coral;
  border: 1px solid;
  overflow: visible;
  height: 60px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

